*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 67%;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
        "button-back . button-new"
        "contents contents contents";

    width: 80rem;
    height: 60rem;
}

.button,
.input {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: capitalize;

    border: none;
    border-radius: 0.5rem;

    height: 4rem;
    width: 24rem;
}

.button {
    display: flex;
    margin: 0;
}
.button-back,
.button-new {
    width: 8rem;
}

.button-back {
    grid-area: button-back;
}

.button-new {
    grid-area: button-new;
    display: flex;
    justify-self: end;
}

.list-container,
.form-container {
    grid-area: contents;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input,
.label {
    margin-bottom: 2rem;
}
