*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 67%;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    width: 80%;
}

.container {
    border: 1px solid white;
    width: 40rem;
    height: 60rem;
}

.button,
.input {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: capitalize;

    border: none;
    border-radius: 0.5rem;

    height: 4rem;
}

.button-home {
    width: 8rem;

    margin: 2rem 0 0 2rem;
}

.input,
.label {
    margin-bottom: 2rem;
}
